<h1>Inventory page :]</h1>

<aside>
  <a href="/">All items</a>

  <% if (locals.categories) { %>
  Categories:
  <ul>
    <% categories.forEach(category => { %>
    <li>
      <%- include('./components/categoryLink', {category}) %>
      <form method="POST" action="/categories/<%= category.id %>" enctype="application/x-www-form-urlencoded" style="display: inline;">
        <input type="hidden" name="_method" value='PATCH'>
        <input type="text" name="name" value=<%= category.name %>>
        <button>✓</button>
      </form>
      <form method="POST" action="/categories/<%= category.id %>" enctype="application/x-www-form-urlencoded" style="display: inline;">
        <input type="hidden" name="_method" value='DELETE'>
        <input type="hidden" name="id" value=<%= category.id %>>
        <button>×</button>
      </form>
    </li>
    <% }) %>
    <li>
      <form method="POST" action="/categories/" style="display: inline;">
        <input type="text" name="name" value="">
        <button>✓</button>
      </form>
    </li>
  </ul>
  <% } else { %>
  <p>No categories yet</p>
  <% } %>
</aside>
<a href="/items/new">Add item</a>
<table>
  <tr>
    <th>ID</th>
    <th>SKU</th>
    <th>Stock</th>
    <th>Price</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Description</th>
    <th>Categories</th>
  </tr>
  <% if (locals.items) { %>
  <% items.forEach(item => { %>
  <tr>
    <td><a href="/items/<%= item.id %>"><%= item.id %></a></td>
    <td><%= item.sku %></td>
    <td><%= item.stock %></td>
    <td><%= item.price %></td>
    <td><%= item.name %></td>
    <td><%= item.brand %></td>
    <td><%= item.description %></td>
    <td>
      <% const categories = item.categories %>
      <% if (categories) { %>
      <% const lastIdx = categories.length - 1 %>
      <% categories.forEach((category, idx) => { %>
      <% const trail = idx !== lastIdx ? ',' : '' %>
      <%- include('./components/categoryLink', {category}) %><%= trail %>
      <% }) %>
      <% } %>
    </td>
  </tr>
  <% }) %>
  <% } else { %>
  <td colspan="8" style="text-align: center;">No items found</td>
  <% } %>
</table>