<form method="POST" action="/items/<%= item.id %>" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="PATCH">
  <br />
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" value="<%= item.name %>"></input>
  <br />
  <label for="brand">Brand:</label>
  <input type="text" id="brand" name="brand" value="<%= item.brand %>"></input>
  <br />
  <label for="description">Description:</label>
  <input type="text" id="description" name="description" value="<%= item.description %>"></input>
  <br />
  <label for="sku">Sku:</label>
  <input type="text" id="sku" name="sku" value="<%= item.sku %>"></input>
  <br />
  <label for="stock">Stock:</label>
  <input type="text" id="stock" name="stock" value="<%= item.stock %>"></input>
  <br />
  <label for="price">Price:</label>
  <input type="text" id="price" name="price" value="<%= item.price %>"></input>

  <fieldset>
    <legend>Categories:</legend>
    <% const { categoriesIds } = item %>
    <% if ( allCategories.length > 0 ) { %>
    <% allCategories.forEach(({id, name}) => { %>
    <div>
      <% const checked = categoriesIds.includes(id) ? "checked" : "" %>
      <input type="checkbox" id="<%= name %>" name="categoriesIds" value="<%= id %>" <%= checked %> />
      <label for="<%= name %>"><%= name %></label>
    </div>
    <% }) %>
    <% } else { %>
    <p>No categories yet</p>
    <% } %>
  </fieldset>

  <button type="submit">Apply</button>
</form>

<% if (locals.errors) { %>
Errors:
<ul>
  <% errors.forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>